@import url('https://fonts.googleapis.com/css?family=Public+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Public Sans', sans-serif;
}

body {
  background-color: #ECEFF1;
  color: #4D4D4D;
}